@import "../base.scss";

.switch{
    font-family: 'Lato', sans-serif;
    position: relative;
    height: 49px;
    box-sizing: border-box;
    width: 120px;
    border-radius: 4px;
    transition: background .2s;
    &.on{ 
        //TODO: HSL values for colors for better transitions
        background: #BACF88; 
        .button{
            transform: translateX(0);
        }
    }
    &.off{
        // TODO: need autoprefixer
        background: #6D0839;
        .button{
            transform: translateX(-41px); 
        }
    }
    .button{
        display: flex; align-items: center;
        justify-content: center;
        position: absolute;
        top: 0; bottom: 0; margin: auto 0;
        right: 3px;
        width: 72px; height: 43px;
        border-radius: 5px;
        background: rgba(255,255,255,0.7);
        display: flex; align-items: center;
        transition: transform .2s, opacity .2s;
        cursor: pointer;
        .text{
            color: #6D0839;
            letter-spacing: 0.0945em;
            opacity: 0.5;
            font-size: 14px;
            transition: transform .2s, opacity .2s;
        }
        &:hover{
            background: rgba(255,255,255,0.85);
            .text { opacity: 0.75; }
        }
    }
}